<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="topnav">
    <a href="/m/home">Home</a>
    <a class="disabled" href="/m/service">Service</a>
    <a href="#about">About</a>
    <a class="login-disabled" href="/w/signin">Signin</a>
    <a class="login-active" href="/w/login">Login</a>
    <a class="login-disabled" href="/w/logout">Logout</a>
</div>

<main>
    <div class = "center" style="color: red; font-size: 18px" th:if="${error != null}" th:text = "${error}"></div>
    <div class = "center" style="color: darkblue; font-size: 18px" th:if="${confirmMsg != null}" th:text = "${confirmMsg}"></div>
    <form  th:object="${formData}"
           th:action="@{/w/login}"
           method="post">
        <div>
            <input type="text"  placeholder="Your login ..."  th:field = "*{username}" required >
            <input type="password"  placeholder="Your password ..." required th:field = "*{password}">
            <button th:class="button" type="submit" >Login</button>
        </div>
    </form>
</main>
</body>
</html>