<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Sign In</title>
</head>
<body>

<h1> Sign In Page</h1>

<main>
    <form th:object="${formData}"
    th:action="@{/w/signin}"
    method="post">
        <div>
            <input type="text"placeholder="Your login ..."  th:field = "*{login}" required >
            <ul class="text-danger" th:each="error: ${#fields.errors('login')}">
                <li th:each="message : ${error.split(',')}">
                    <p style="color: red" class="error-message" th:text="${message}"></p>
                </li>
            </ul>
            <input type="email" placeholder="Your email ..." required th:field = "*{email}">
            <ul class="text-danger" th:each="error: ${#fields.errors('email')}">
                <li th:each="message : ${error.split(',')}">
                    <p style="color: red" class="error-message" th:text="${message}"></p>
                </li>
            </ul>
            <input type="password" placeholder="Your password ..." required th:field = "*{password}">
            <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
                <li th:each="message : ${error.split(',')}">
                    <p style="color: red" class="error-message" th:text="${message}"></p>
                </li>
            </ul>
            <button th:class="button" type="submit" >Sign In</button>
        </div>

    </form>
</main>

</body>
</html>